.vsto-search-wallet {
  width: 100%;
  min-height: 100vh;

  &-header {
    display: flex;
    justify-content: center;

    &-logo {
      width: 400px;
    }
  }

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
    .search-error {
      position: absolute;
      transform: translateY(32px);
      color: var(--spectrum-semantic-negative-color-text-small);
      font-size: var(--spectrum-global-dimension-font-size-75);
    }
  }
}
