@import 'src/theme/theme.scss';

.vsto-view-wallet {
  width: 100%;
  min-height: 100vh;
  background: $rey;
  color: $sith;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vsto-view-wallet-collection {
  max-width: 960px;
  width: 100%;
  &-image {
    width: 280px;
    height: 280px;
    background: black;
    margin: 16px;
    img {
      box-shadow: -10px 10px 15px 5px rgba(0, 0, 0, 0.4);
      width: 280px;
      height: 280px;
      object-fit: contain;
    }
  }
}
